doctype html
html
    head
        title='Login'
    body
        h1 Login
        form(action='http://localhost:3000/auth/google', method='GET')
            label Log in via Google:
            input(type='submit', value='Log In with Google')